.account-container {
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.account-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    opacity: .9;
}


.btn-blue {
    background-color: #11295a;
    color: #fff;
}

    .btn-blue:hover {
        background-color: #2a91ff;
        border-color: #2a91ff;
        color: #fff;
    }