* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

main {
    padding-top: 20px !important
}

h2, h3 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
    color: #2c3e50;
}

h5 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    color: #2c3e50;
}

.posts-title {
    text-align: center;
    margin-bottom: 40px;
}

.posts-subtitle {
    color: #7f8c8d;
    font-size: 1.1rem;
}

.btn-blue, .bg-blue {
    background-color: #11295a;
    color: #fff;
}

    .btn-blue:hover {
        background-color: #2a91ff;
        border-color: #2a91ff;
        color: #fff;
    }


td{
    max-width: 600px;
}

.btn-outline-primary:hover {
    background-color: #2a91ff;
}

.toast-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.notification-icon {
    position: relative;
    display: inline-block;
    margin: auto 0;
    cursor: pointer;
    color: black !important;
}

    .notification-icon .badge {
        position: absolute;
        top: -5px;
        right: -8px;
        background: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
    }
