#tools_container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    width: 400px;
    max-height: 600px;
/*    margin: 0 auto;*/
    overflow: hidden;
}

#tools {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: auto;
    min-height: 400px;
    max-height: 400px;
}

    #tools label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.4rem 0.7rem;
        border: 1px solid #e1e4e8;
        border-radius: 5px;
        background-color: #f0f2f5;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 8px;
        font-size: 0.95rem;
        font-weight: 500;
        margin-bottom: 0.3rem;
        color: #34495e;
    }

        #tools label:hover {
            background-color: #e4e7ec;
        }

.search {
    margin-bottom: 10px;
}

.d-flex {
    gap: 20px
}

#user_input {
    max-width: 250px
}