.notification-list {
    list-style: none;
    margin: 0;
    border-radius: .25rem;
}

.unread {
    background-color: #f0f8ff;
}

.notification-item {
    display: flex;
    border-radius: .25rem;
    align-items: center;
    padding: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin: 8px 0.5px;
}

    .notification-item.unread:hover {
        background-color: #e0f0ff;
    }

    .notification-item .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 12px;
    }

.notification-text {
    flex-grow: 1;
    color: black;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

    .toggle-buttons button {
        padding: 8px 16px;
        border: none;
        background-color: #11295a;
        color: white;
        border-radius: 4px;
        cursor: pointer;
    }

        .toggle-buttons button.active {
            background-color: #2a91ff;
        }

.notification-section {
    display: none;
}

    .notification-section.active {
        display: block;
    }

.markRead {
    color: black;
    cursor: pointer;
}