.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
}

.card-body {
    padding: 20px;
    font-size: 1rem;
    background-color: #fdfdfd;
    border-radius: .25rem !important;
}

    .card-body pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        background-color: #f1f1f1;
        border-left: 4px solid #007bff;
        padding: 15px;
        border-radius: 8px;
        font-family: Consolas, monospace;
        max-height: 400px;
        overflow-y: auto;
    }

.btns {
    margin-top: 20px;
    text-align: center;
}
